{% extends 'ReFinance/layout.html' %}

{% block title %}
Account
{% endblock %}

{% block main %}
<div class="mycontainer p-2">
    <div class="account-card">
        <div class="account-card-content">
            <h3 class="account-card-title">Account Details:</h3>
            <hr>
            <h4 class="account-card-text">Userame: {{ user.get_username }}</h3>
                <br>
                <h4 class="account-card-text">Name: {{ user.first_name }} {{ user.last_name }}</h3>
                    <br>
                    <h4 class="account-card-text">Email: {{ user.email }}</h3>
                        <br>
                        <h4 class="account-card-text">Cash: <span class="cash" data-currency="{{ cash.symbol|upper }}">{{ cash.value }}</span></h3>
                            <br>
                            <h4 class="account-card-text">Currency: {{ user.userProfile.default_currency|upper }}</h3>
        </div>
        <p class="account-card-icon">Re:Finance 
            <span id="staff-status">
                {% if user.is_staff %}
                - 
                <a class="staff-link" href="/admin/">
                STAFF
                </a>
                {% endif %}
            </span>
        </p>
    </div>
    <div class="px-5"></div>
    <div class="p-2" id="text">
        <div class="line">
            <p>Account Settings:</p>
        </div>
        <a href="/add_cash">
            <div class="line fancy">
                <p>Add-Cash</p>
            </div>
        </a>
        <a href="/change_password">
            <div class="line fancy">
                <p>Change-Password</p>
            </div>
        </a>
        <a href="/change_account_details">
            <div class="line fancy">
                <p>Account-Details</p>
            </div>
        </a>
        <a href="/delete_account">
            <div class="line fancy">
                <p>Delete-Account</p>
            </div>
        </a>
        <a href="/api">
            <div class="line fancy">
                <p>API</p>
            </div>
        </a>
    </div>
    <script src="\static\js\settings.js"></script>
    <script src="\static\js\currency_format.js"></script>
    {% endblock %}