{% extends 'ReFinance/layout.html' %}
{% load socialaccount %}

{% block title %}
Main
{% endblock %}

{% block main %}
<div class="main-screen">
    <h1>
        Welcome to 
        <span class="magic">
        <span class="magic-star">
            {% include './icons/star.svg' %}
        </span>
        <span class="magic-star">
            {% include './icons/star.svg' %}
        </span>
        <span class="magic-star">
            {% include './icons/star.svg' %}
        </span>
        <span class="magic-text">Re:Finance</span>
        </span>
        a simulated stock portfolio app.
        <br><br>
        <span class="main-links"><a href="/login">Login</a> - <a href="/register">Register</a></span>
        <br>
        <span class="mx-auto"><a class="gh-link" href="{% provider_login_url 'github' %}">{% include './icons/github.svg' %} Sign In with GitHub</a></span>
    </h1>
</div>
<script src="\static\js\stars.js"></script>
{% endblock %}