{% extends 'ReFinance/layout.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form action="{% url 'register' %}" method="post">{% csrf_token %}
    <h3 class="mb-5">Register</h3>
    <div class="form-wrapper mx-auto">
        {{ form.username|as_crispy_field }}
        <div class="row">
            <div class="col-6">
              {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.last_name|as_crispy_field }}
            </div>
          </div>
          {{ form.email|as_crispy_field }}
          {{ form.password1|as_crispy_field }}
          {{ form.password2|as_crispy_field }}
    </div>
    <button class="btn btn-outline-light" type="submit">Register</button>
</form>
{% endblock %}